body {
  background-color: #bfb;
  color: #004e11;
  font-family: 'Inconsolata', monospace;
}

.title {
  text-align: center;
}

.game-square {
  height: 100%;
  width: 4%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.game-row {
  height: 4%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.game-board {
  width: 85vmin;
  height: 85vmin;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-tile {
  background-color: #004e11;
}

.food-tile {
  background-color: #f00;
}

.footer {
  font-size: 30px;
  width: 85vmin;
  height: 85vmin;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
